asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.4.0
gunicorn==22.0.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
pillow==10.3.0
pytesseract==0.3.10
sqlparse==0.5.0
whitenoise==6.6.0
